
.drawing {
  display: block;
  width: 150px;
  height: 150px;
  border: solid grey 1px;
}
#slider {
  width: 152px;
  height: 20px
}
.goog-slider {
  background-color: rgb(180, 180, 180);
  position: relative;
  overflow: hidden;
}
.goog-slider-thumb {
  top: 0;
  width: 20px;
  height: 100%;
  position: absolute;
  background-color: rgb(80, 80, 80);
  overflow: hidden;
}
.zoom {
  float: left;
}
.wrapper1 {
  width: 100%;
  height: 152px;
}
.wrapper2 {
  width: 100%;
  height: 172px;
}
