<!DOCTYPE html>
<html>
<head>
<title>XRX++ Unit Tests - xrx.component.Text</title>
<script type="text/javascript" src="../../../lib/jssaxparser/XMLFilterImpls.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/SAXException.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/NamespaceSupport.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/AttributesImpl.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/SAXScanner.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/ReaderWrapper.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/Reader.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/sax.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/DefaultHandlers.js"></script>
<script src='../../../lib/closure-library/closure/goog/base.js'></script>
<script src='../../deps.js'></script>
<script type="text/javascript">
  goog.require('goog.testing.jsunit');
  goog.require('xrx');
</script>
<link rel="stylesheet" type="text/css" href="../../../res/xrx.css">
<style>
.xrx-text, .xrx-text-inner,
.xrx-text-start, .xrx-text-end {
font-weight: bold;
font-style: italic;
}
.highlight {
color: red;
text-decoration: underline;
}
.left, .right {
position: relative;
float: left;
width: 50%;
}
</style>
</head>
<body>

<div>
  <h1>Selection</h1>
  <h2>Highlight by hover</h2>



  <h3>One text node</h3>
  <!-- action -->
  <span class="xrx-action" id="highlightOne">
    <span class="xrx-action" data-event="xrx-event-in">
      <span class="xrx-classes-add" data-select="#s1" data-classes="highlight"></span>
    </span>
    <span class="xrx-action" data-event="xrx-event-out">
      <span class="xrx-classes-remove" data-select="#s1" data-classes="highlight">
    </span>
  </span>
  <!-- text -->
  <p>text text <span class="xrx-text" id="s1" data-action="highlightOne">highlight me</span> text text.</p>



  <h3>Multiple text nodes</h3>
  <!-- action -->
  <span class="xrx-action" id="highlightMultiple">
    <span class="xrx-action" data-event="xrx-event-in">
      <span class="xrx-classes-add" data-select=".s2" data-classes="highlight"></span>
    </span>
    <span class="xrx-action" data-event="xrx-event-out">
      <span class="xrx-classes-remove" data-select=".s2" data-classes="highlight"></span>
    </span>
  </span>
  <!-- text -->
  <p>text text <span class="xrx-text s2" data-action="highlightMultiple">highlight me all</span>
    <span class="xrx-text s2" data-action="highlightMultiple">highlight me all</span>
    <span>not highlighted</span>
    <span class="xrx-text s2" data-action="highlightMultiple">highlight me all</span> text text
  </p>



  <h3>Multiple text nodes with overlapping elements</h3>
  <!-- action -->
  <span class="xrx-action" id="highlightOverlapped">
    <span class="xrx-action" data-event="xrx-event-in">
      <span class="xrx-classes-add" data-select=".s3" data-classes="highlight"></span>
    </span>
    <span class="xrx-action" data-event="xrx-event-out">
      <span class="xrx-classes-remove" data-select=".s3" data-classes="highlight"></span>
    </span>
  </span>
  <!-- text -->
  <p>
    <ul>
      <li>text text <span class="xrx-text s3" data-action="highlightOverlapped">highlight me</span></li>
      <li><span class="xrx-text s3" data-action="highlightOverlapped">overlapped</span> text text.</li>
    </ul> 
  </p>
  <h1>Text-Text-Linking</h1>
  <!-- action -->
  <span class="xrx-action" id="ttl">
    <span class="xrx-action" data-event="xrx-event-in">
      <span class="xrx-classes-add" data-select="$select" data-classes="highlight"></span>
    </span>
    <span class="xrx-action" data-event="xrx-event-out">
      <span class="xrx-classes-remove" data-select="$select" data-classes="highlight"></span>
    </span>
  </span>
  <!-- text -->
  <div class="left">
    <p class="xrx-text p1" data-action="ttl" data-param="select=.p1">text1 text1 text1 text1 text1 text1 text1 text1</p>
    <p class="xrx-text p2" data-action="ttl" data-param="select=.p2">text1 text1 text1 text1 text1 text1 text1 text1</p>
    <p class="xrx-text p3" data-action="ttl" data-param="select=.p3">text1 text1 text1 text1 text1 text1 text1 text1</p>
    <p class="xrx-text p4" data-action="ttl" data-param="select=.p4">text1 text1 text1 text1 text1 text1 text1 text1</p>
    <p class="xrx-text p5" data-action="ttl" data-param="select=.p5">text1 text1 text1 text1 text1 text1 text1 text1</p>
  </div>
  <div class="right">
    <p class="xrx-text p1" data-action="ttl" data-param="select=.p1">text2 text2 text2 text2 text2 text2 text2 text2</p>
    <p class="xrx-text p2" data-action="ttl" data-param="select=.p2">text2 text2 text2 text2 text2 text2 text2 text2</p>
    <p class="xrx-text p3" data-action="ttl" data-param="select=.p3">text2 text2 text2 text2 text2 text2 text2 text2</p>
    <p class="xrx-text p4" data-action="ttl" data-param="select=.p4">text2 text2 text2 text2 text2 text2 text2 text2</p>
    <p class="xrx-text p5" data-action="ttl" data-param="select=.p5">text2 text2 text2 text2 text2 text2 text2 text2</p>
  </div>
  <h1>Text-Graphic-Linking</h1>
  <h1>Graphic-Text-Linking</h1>
</div>

<script type="text/javascript">
 
function test() {};

</script>

<script type="text/javascript">
  xrx.install();
</script>

</body>
</html>
