<!DOCTYPE html>
<html>
<head>
<title>XRX++ Unit Tests - xrx.widget.Hover</title>
<script type="text/javascript" src="../../../lib/jssaxparser/XMLFilterImpls.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/SAXException.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/NamespaceSupport.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/AttributesImpl.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/SAXScanner.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/ReaderWrapper.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/Reader.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/sax.js"></script>
<script type="text/javascript" src="../../../lib/jssaxparser/DefaultHandlers.js"></script>
<script src='../../../lib/closure-library/closure/goog/base.js'></script>
<script src='../../deps.js'></script>
<script type="text/javascript">
  goog.require('goog.testing.jsunit');
  goog.require('xrx');
</script>
<link rel="stylesheet" type="text/css" href="../../../res/xrx.css">
<style>
.xrx-hover, .xrx-hover-inner,
.xrx-hover-start, .xrx-hover-end {
font-weight: bold;
font-style: italic;
}
.xrx-class-hover {
color: red;
text-decoration: underline;
}
</style>
</head>
<body>

<div>
  <!-- one -->
  <p>text text <span class="xrx-hover" id="ID1">highlight me</span> text text.</p>
  <!-- multiple -->
  <p>text text 
    <span class="xrx-hover-start">_highlight-start_ </span>
    <span class="xrx-hover-inner">highlight me all</span>
    <span class="xrx-hover-inner">highlight me all</span>
    <span>not highlighted</span>
    <span class="xrx-hover-inner">highlight me all</span>
    <span class="xrx-hover-end"> _highlight-end_</span> text text
  </p>
  <!-- overlap -->
  <p>
    <ul>
      <li>text text <span class="xrx-hover-start">_highlight-start_ </span><span class="xrx-hover-inner">highlight me</span></li>
      <li><span class="xrx-hover-inner">overlapped</span><span class="xrx-hover-end"> _highlight-end_</span> text text.</li>
    </ul>
  </p>
  <!-- external -->
  <p>
    <button class="xrx-button">
      <span>hover in 1 by ID</span>
      <span class="xrx-action" data-event="xrx-event-click">
        <span class="xrx-hover-in" select="#ID1"></span>
      </span>
    </button>
    <button class="xrx-button">
      <span>hover out 1 by ID</span>
      <span class="xrx-action" data-event="xrx-event-click">
        <span class="xrx-hover-out" select="#ID1"></span>
      </span>
    </button><br>
    <button class="xrx-button">
      <span>hover in 1 by class</span>
      <span class="xrx-action" data-event="xrx-event-click">
      </span>
    </button>
    <button class="xrx-button">
      <span>hover out 1 by class</span>
      <span class="xrx-action" data-event="xrx-event-click">
      </span>
    </button><br>
    <button class="xrx-button">
      <span>hover in 2 start</span>
      <span class="xrx-action" data-event="xrx-event-click">
      </span>
    </button>
    <button class="xrx-button">
      <span>hover out 2 start</span>
      <span class="xrx-action" data-event="xrx-event-click">
      </span>
    </button><br>
    <button class="xrx-button">
      <span>hover in 2 inner</span>
      <span class="xrx-action" data-event="xrx-event-click">
      </span>
    </button>
    <button class="xrx-button">
      <span>hover out 2 inner</span>
      <span class="xrx-action" data-event="xrx-event-click">
      </span>
    </button><br>
    <button class="xrx-button">
      <span>hover in 2 end</span>
      <span class="xrx-action" data-event="xrx-event-click">
      </span>
    </button>
    <button class="xrx-button">
      <span>hover out 2 end</span>
      <span class="xrx-action" data-event="xrx-event-click">
      </span>
    </button>
    <!-- text-text-linking -->
    <!-- text-graphics-linking -->
    <!-- graphics-text-linking -->
  </p>
</div>

<script type="text/javascript">
 
function test() {};

</script>

<script type="text/javascript">
  xrx.install();
</script>

</body>
</html>
