
.xrx-canvas {
width: 100%;
height: 500px;
}

.toolbar {
position: absolute;
}

.toolbar-item {
border-bottom: solid white 4px;
}

.toolbar-item:hover {
border-bottom: solid grey 4px;
}

.toolbar-item-selected {
border-bottom: solid red 4px;
}

.shape {
border-color: #47D1FF;
}

.xrx-canvas-error {
position: absolute;
right: 0px;
color: red;
}
