

#canvas {
position: relative;
width: 600px;
height: 700px;
display: block;
overflow: hidden;
}

#toolbar {
position: absolute;
right: 5px;
top: 5px;
}

img {
display: inline;
}

.xrx-ui-state-mouseout {
border-top: solid white 4px;
}

.xrx-ui-state-selected, .xrx-ui-state-mouseover {
border-top: solid red 4px;
}
